<form name="modMoleculeForm" novalidate>
  <table id="moleculeManagament" datatable="ng" class="table">
  <!--<table id="moleculeManagament" class="table">-->
    <thead>
      <tr>
        <th>ID</th>
        <th>Formula</th>
        <th>MWT</th>
        <th>Species</th>
        <th>Smiles</th>
        <th>Type</th>
        <th>Name</th>
        <th>Structure Type</th>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#moleculeModal">
          <i class="fas fa-plus"></i> New Molecule</button>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="moleculeObj in moleculesArrayAux">
        <td>
          {{ moleculeObj.molecule_chembl_id }}
        </td>
        <td>
          <div class="form-group">
          <input type="text" class="form-control" id="full_molformula{{$index}}" ng-model="moleculeObj.full_molformula" required />
          </div>
          <div style="display: none;">{{ moleculeObj.full_molformula }}</div>
        </td>
        <td>
          <div class="form-group">
          <input type="text" class="form-control" id="full_mwt{{$index}}" ng-model="moleculeObj.full_mwt" required />
          </div>
          <div style="display: none;">{{ moleculeObj.full_mwt }}</div>
        </td>
        <td>
          <div class="form-group">
          <input type="text" class="form-control" id="molecular_species{{$index}}" ng-model="moleculeObj.molecular_species" required />
          </div>
          <div style="display: none;">{{ moleculeObj.molecular_species }}</div>
        </td>
        <td>
          <div class="form-group">
          <textarea class="form-control" id="canonical_smiles{{$index}}" ng-model="moleculeObj.canonical_smiles" rows="3" required></textarea>
          <!--<input type="text" class="form-control" id="canonical_smiles{{$index}}" ng-model="moleculeObj.canonical_smiles" required />-->
          </div>
          <div style="display: none;">{{ moleculeObj.canonical_smiles }}</div>
        </td>
        <td>
          <div class="form-group">
          <input type="text" class="form-control" id="molecule_type{{$index}}" ng-model="moleculeObj.molecule_type"  />
          </div>
          <div style="display: none;">{{ moleculeObj.molecule_type }}</div>
        </td>
        <td>
          <div class="form-group">
          <input type="text" class="form-control" id="pref_name{{$index}}" ng-model="moleculeObj.pref_name"  />
          </div>
          <div style="display: none;">{{ moleculeObj.pref_name }}</div>
          
        </td>
        <td>
          <div class="form-group">
          <input type="text" class="form-control" id="structure_type{{$index}}" ng-model="moleculeObj.structure_type" required />
          </div>
          <div style="display: none;">{{ moleculeObj.structure_type }}</div>
        </td>
        <td>
          <button type="button" class="btn btn-info" ng-click="moleculeCtrl.similaryMolecules($index);$parent.showForm=5" ng-disabled="modMoleculeForm.$invalid"><i class="fa fa-search"></i></button>
          <button type="button" class="btn btn-success" ng-click="moleculeCtrl.modifyMolecule($index)" ng-disabled="modMoleculeForm.$invalid"><i class="fas fa-check"></i></button>
          <button type="button" class="btn btn-danger" ng-click="moleculeCtrl.removeMolecule($index)" ng-disabled="modMoleculeForm.$invalid"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-info" ng-click="userAction=1;$parent.showForm=0">Back</button>
</form>

<!-- Modal -->
<div class="modal fade" id="moleculeModal" tabindex="-1" role="dialog" aria-labelledby="moleculeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="moleculeModalLabel">Insert molecule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <form class="moleculeEntry" name="moleculeManagement" ng-submit="moleculeCtrl.moleculeInsert()" novalidate>
        <div class="modal-body">
          <molecules-entry></molecules-entry>
        </div>
        <div class="modal-footer">
          <button type="reset" ng-click="moleculeCtrl.resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Insert</button>
        </div>
      </form>


    </div>
  </div>
</div>

