<!-- title -->
<br>
<div class="alert alert-info text-center" role="alert">
  <h2>Molecule statistics</h2>
</div>

<table class="table table-striped text-center">
          <tr>
            <th>Minimun</th>
            <td colspan="3">{{statistics["min"]}}</td>
          </tr>

          <tr>
            <th>Maximun</th>
            <td colspan="3">{{statistics["max"]}}</td>
          </tr>

          <tr>
            <th>Median</th>
            <td colspan="3">{{statistics["min"]}}</td>
          </tr>

          <tr>
            <th>Average</th>
            <td colspan="3">{{statistics["min"]}}</td>
          </tr>

          <tr>
            <th>Minimun</th>
            <td colspan="3">{{statistics["min"]}}</td>
          </tr>
</table>

<div class="text-center mt-4 jumbotron">
  <h3>Graphics</h3>
  
<div class="row">
	<div class="col"><img src="{{file1}}" alt=""></div>
	<div class="col"><img src="{{file2}}" alt=""></div>
</div>
</div>
