<!DOCTYPE html>

    <div class="form-horizontal" >
        <!--
        <div>passwordValid:{{passwordValid}} userManagement.$invalid: {{userManagement.$invalid}}</div>
    -->
    
    <div class="form-group">
        <label class=" control-label" for="formGroup">Name:</label>
        <div class="">
            <input class="form-control" type="text" id="name" ng-model="newUser.name" ng-pattern="/^[a-zA-Z]+$/" required/>
        </div>
        <label class=" control-label" for="formGroup">Last name:</label>
        <div class="">
            <input class="form-control" type="text" ng-model="newUser.surname1" ng-pattern="/^[a-zA-Z]+$/" required/>
        </div>
        <label class=" control-label" for="formGroup">Nick:</label>
        <div class="">
            <input class="form-control" type="text" id="userNick" ng-model="newUser.nick" ng-blur="userCtrl.checkNick()" required/>
            <p class="help-block" ng-if="!nickValid" >
                <b>It already exists a user with this nick, try another one.</b>
            </p>
        </div>
        <label class=" control-label" for="formGroup">Password:</label>
        <div class="">
            <input class="form-control" type="password" ng-model="newUser.password" name="password" ng-minlength="6" required/>
            <p class="help-block" ng-if="newUser.password.$error.minlength || newUser.password.$invalid" >
                Password must be at least 6 characters
            </p>
        </div>
        <label class=" control-label" for="formGroup">Repeat password:</label>
        <div class="">
            <input class="form-control" id="password2" type="password" ng-model="passControl" name="password2" ng-minlength="6" required ng-change="userCtrl.checkPassword()"/>
            <p class="help-block" ng-if="newUser.password != passControl && passControl.length > 0" >
                Password do not match
            </p>
        </div>

        <label class=" control-label" for="formGroup">User Type:</label>
            <select class="form-control" id="userType" name="userType" ng-model="newUser.userType">
                <option value="0">Administrator</option>
                <option value="1">User</option>
            </select>
    </div>
    
    <div class="form-group">
        <label class=" control-label" for="formGroup">Email Adress:</label>
        <div class="">
            <input class="form-control" type="email" ng-pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/" ng-model="newUser.mail" required/>
        </div>
    </div>

    <div class="form-group">
    <label for="exampleInputFile">Image:</label>
    <input type="file" class="form-control-file" aria-describedby="fileHelp" file="image" accept="image/*" ng-model="image" id="imageUser" >
    
  </div>
</div>